version: '3'
services:
  db:
    image: postgres
  web:
    build: .
    command: foreman start
    volumes:
      - .:/quiz-master
    ports:
      - "80:3000"
      - "8000:8000"
    depends_on:
      - db