// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.public-DraftEditor-content {
  min-height: 200px;
  max-height: 50vh;
}

.admin-page {
  display: flex;
}

.edit-quiz-form {
  flex: 2;
  margin: 2%;
  border-radius: 10px;
  min-width: 50%;

  &__header {
    border-bottom : 1px solid #e0e0e0;
  }
}

.quiz-collection {
  flex :1;
  padding: 2%;
  max-width: 40%;

  &__list {
    margin-top: 10px;
  }
}

.quiz-view {
  display: flex;
  margin-bottom: 15px;
  align-items: center;

  &__question {
    margin-right: 10px;
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__answer {
    margin-right: 30px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__button {
    flex: 1;
    margin-right: 10px;
  }
}
